1 - Main System/KiCAD Project Files/.history
1 - Main System/KiCAD Project Files/Headless-backups
2 - Modular Subsystems/Reflectometer/.history
2 - Modular Subsystems/Reflectometer/Reflectometer-backups
2 - Modular Subsystems/Reflectometer/ReflectometerV2-backups
2 - Modular Subsystems/Reflectometer/production
2 - Modular Subsystems/Reflectometer/Reflectometer_OUT
.zip
.DS_STORE
.lck